.the-logo {
  padding: 10px;
}

.search-box {
  padding: 5px;
  border: none;
  border-bottom: 1px solid gray;
}

.top-nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 1.5rem;
  padding: 10px;
  padding-right: 30px;
  font-size: 0.7rem;
  color: gray;
}

nav {
  display: flex;
  justify-content: center;
  column-gap: 2rem;
  row-gap: 1rem;
  padding: 10px;
  flex-wrap: wrap;
  font-size: 0.9rem;
}

nav > div {
  text-transform: uppercase;
  letter-spacing: 2px;
}

/* .the-img {
  background-image: url(https://ak.imgag.com/imgag/product/siteassets/general/3553993/image.jpg);
  height: 400px;
  background-size: cover;
  background-position: center;
} */

.the-img {
  /* height: 100%; */
  width: 100%;
}

.celebrate-text {
  text-transform: uppercase;
  text-align: center;
  padding: 30px;
  letter-spacing: 2px;
}

.logo-wrapper {
  display: flex;
  justify-content: center;
}

main {
  background-color: white;
  max-width: 1200px;
  margin: 0 auto;
  border-left: 1px solid lightgray;
  border-right: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
}
